@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Pacifico&family=Poppins:ital,wght@0,400;0,700;1,600&family=Roboto:wght@400;700&display=swap');


.container1 {
    background-color: #ddd;
    margin: 0 auto;
    padding: 10px;
}

.title1 h1 {
    color: #000;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

p {
    color: black;
    background-color: #ddd;
}

h2 {
    color: black;
}

h3 {
    color: black;
}